<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="student-profile.component.css">

</head>

<body>
    <div class="sidebar">
        <img src="pngegg(3).png" alt="">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Applied Jobs</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>

    <div class="content">
        <h2>My Profile</h2>
        <div class="profile-card">
            <div class="profile-header">
                <img src="am.jpg" alt="Profile Picture" class="profile-photo">
                <div class="profile-info">
                    <h3>Aman Sinha</h3>
                    <p>MCA</p>
                    <button class="edit-btn">Edit Profile</button>
                </div>
            </div>
            <div class="profile-details">
                <p><strong>Email ID</strong> <span>sinhaaman2180@gmail.com</span></p>
                <p><strong>Phone Number</strong> <span>8917537655</span></p>
                <p><strong>Address</strong> <span>At/po-Anandapur</span></p>
                <p><strong>Course</strong> <span>MCA</span></p>
                <p><strong>About</strong> <span>"I'm an MCA student at Cutm 
                        with experience in web development from an internship at Devs India."</span></p>
            </div>
        </div>
    </div>
</body>

</html>